

    <div class="row">

        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="youtubeViewMode">
                        Your Feed <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("YouTube", "Sites", new { viewType = "Feed" })" class="youtubeViewOption">Your Feed</a></li>
                        <li><a href="@Url.Action("YouTube", "Sites", new { viewType = "Channels" })" class="youtubeViewOption">Your Channels</a></li>
                    </ul>
                </div>
            </div>
        </div>

        @{ if (Model.youtubeVideoFeed.ytVideos.Count < 1)
            {
                <div class="col-lg-10 col-md-10">
                    <span>No channels added yet.</span>
                </div>


            }

            else
            {
                for (int i = 0; i < Model.youtubeVideoFeed.ytVideos.Count; i++)
                {
                    <div class="ytVidRow col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-12">
                                <a href="@Model.youtubeVideoFeed.ytVideos[i].url" target="_blank">  <img class="imgYtThumbnail" src="@Model.youtubeVideoFeed.ytVideos[i].thumbnailUrl" /></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="ytVidInfo">
                                    <span><a href="@Model.youtubeVideoFeed.ytVideos[i].url" target="_blank">@Model.youtubeVideoFeed.ytVideos[i].title</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="ytVidInfo">
                                    <span> by @Model.youtubeVideoFeed.ytVideos[i].channel on @Model.youtubeVideoFeed.ytVideos[i].uploadedDate</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    i++;
                    if (i < Model.youtubeVideoFeed.ytVideos.Count)
                    {
                        <div class="ytVidRow col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-12">
                                    <a href="@Model.youtubeVideoFeed.ytVideos[i].url" target="_blank"><img class="imgYtThumbnail" src="@Model.youtubeVideoFeed.ytVideos[i].thumbnailUrl" /></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="ytVidInfo">
                                        <span><a href="@Model.youtubeVideoFeed.ytVideos[i].url" target="_blank">@Model.youtubeVideoFeed.ytVideos[i].title</a></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="ytVidInfo">
                                        <span> by @Model.youtubeVideoFeed.ytVideos[i].channel on @Model.youtubeVideoFeed.ytVideos[i].uploadedDate</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="ytVidRow col-lg-6 col-md-6 col-sm-12 col-xs-12">   </div>
                    }

                }

            }

        }

    </div>